@import "src/styles/variables";

.contact {
  width: 100%;
  height: 95vh;
  background-image: url("../../../assets/images/hiker-trail-only.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  .row {
    height: 100%;
  }
  .title-message {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    h1 {
      color: white;
      text-align: center;
      font-weight: 300;
    }
    p {
      color: white;
      text-indent: 2rem;
      padding: 15px 0px;
    }
  }
  contact-form {
    width: 20%;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    height: 53%;
  }
}
