.photo-gallery {
  width: 100%;
  height: 56vh;
  overflow-y: auto;
  border-left: solid 1px black;
  background-color: black;
  .row {
    width: 100%;
    margin: 0;
  }
  .photo {
    height: calc(56vh / 2);
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    &:hover {
      cursor: pointer;
      background-blend-mode: overlay;
      background-color: darkgray;
    }
  }
}
