:host {
  #home-page-intro {
    background-image: url("../../../assets/images/ws-life-home-photo.jpg");
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #introduction {
    position: relative;
    top: 17%;
    color: white;
    p {
      text-indent: 2rem;
      font-size: 1.25rem;
      line-height: 2rem;
      margin: unset !important;
    }
    h1 {
      font-weight: bold;
      font-size: 3.5rem;
      padding: 0 0 1rem 0;
      fa-icon {
        color: #ff5349;
      }
    }
  }
  .black-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5rem;
  }
}
