<div class="container-fluid" id="home-page-intro">
  <navigation></navigation>
  <div id="introduction" class="row">
    <div class="black-transparent">
      <h1>Weston <fa-icon [icon]="faBolt"></fa-icon> Sazehn</h1>
      <p>
        Weston Sazehn (rhymes with amazin’) lives in the Queen City, Charlotte,
        North Carolina. By day, he is a wielder of magic numbers and letters as
        a Web Developer, and by evening, an explorer of the creative realm. He
        has uncovered gifts of music, illustration, and photography, applying
        them for lifelong hobbies. You can often find him on weekends hiking a
        trail, enjoying the beautiful outdoors, and gathering inspiration for
        his next adventure or project.
      </p>
    </div>
  </div>
</div>
