@import "src/styles/variables";

.contact-form {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3rem 3rem 4rem 3rem;
  label {
    font-family: sans-serif;
    font-weight: 100;
    .required {
      color: $red;
    }
  }
  input,
  textarea {
    border-radius: 0;
    border: none;
  }
  .error {
    border-radius: 0px;
  }
  button {
    position: relative;
    float: right;
    border-radius: 0;
    background-color: $red;
    opacity: 0.9;
    border: none;
    &:active,
    &:disabled,
    &:focus,
    &:hover {
      border: none;
      box-shadow: none;
      outline: none;
    }
    &:disabled {
      background-color: gray;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.thank-you-message {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  position: relative;
  padding: 3rem;
}
