<div
  class="container navigation"
  [ngClass]="{ 'home-navigation': isHome, 'mobile-navigation': isMobile }"
>
  <div class="nav-title">
    <a routerLink="/" *ngIf="!isHome">
      weston
      <fa-icon [icon]="faBolt"></fa-icon>
      sazehn
    </a>
  </div>
  <div class="menu-items">
    <fa-icon
      [icon]="faBars"
      class="mobile-menu-icon"
      (click)="updateMobileOpen()"
      *ngIf="isMobile"
    ></fa-icon>
    <ul *ngIf="!isMobile || isMobileOpen">
      <li *ngFor="let link of links">
        <a *ngIf="isValidLink(link.path)" [href]="link.path">
          {{ link.path }}
        </a>
      </li>
    </ul>
  </div>
</div>
